<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vienna.jaray.mapper.system.SysRoleMenuMapper">

    <resultMap id="CommonResultMap" type="sysRoleMenu">
        <id property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="menuId" column="menu_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="lastUpdateBy" column="last_update_by"/>
        <result property="lastUpdateTime" column="last_update_time"/>
    </resultMap>

    <sql id="Base_Column_List" >
		srm.id,srm.role_id,srm.menu_id,srm.create_by,srm.create_time,srm.last_update_by,srm.last_update_time
    </sql>

    <!-- 查询角色权限列表 -->
    <select id="findAll" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_menu srm
    </select>

    <!-- 添加角色权限角色 -->
    <insert id="add">
    	insert into sys_role_menu (`id`, `role_id`, `menu_id`, `create_by`, `create_time`, `last_update_by`, `last_update_time`)
    	values (findNextFormatSeqVal('R','s_sys_role_perm_id'), #{entity.roleId}, #{entity.menuId}, #{entity.createBy},
    	 #{entity.createTime}, #{entity.lastUpdateBy}, #{entity.lastUpdateTime})
    </insert>

    <!-- 查询角色权限 -->
    <select id="findById" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_menu srm where srm.id = #{id}
    </select>

    <!-- 查询角色权限 -->
    <select id="findByRids" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_menu srm where srm.role_id in
        <foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <!-- 查询角色权限 -->
    <select id="findByRid" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_menu srm where srm.role_id = #{roleId}
    </select>

    <!-- 删除角色权限 -->
    <delete id="deleteByIds">
        delete from sys_role_menu srm where srm.role_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 更新角色权限 -->
    <update id="updateByRid">
        update sys_role_menu
        <trim prefix="set" suffixOverrides=",">
            <if test="entity.menuId != null">`menu_id` = #{entity.menuId},</if>
            <if test="entity.createBy != null">`create_by` = #{entity.createBy},</if>
            <if test="entity.createTime != null">`create_time` = #{entity.createTime},</if>
            <if test="entity.lastUpdateBy != null">`last_update_by` = #{entity.lastUpdateBy},</if>
            <if test="entity.lastUpdateTime != null">`last_update_time` = #{entity.lastUpdateTime},</if>
        </trim>
        where `role_id` = #{entity.roleId} and `roleId` != '1'
    </update>
    
</mapper>