<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vienna.jaray.mapper.SysDeptMapper">

    <resultMap id="CommonResultMap" type="sysDept">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="name" column="name"/>
        <result property="label" column="label"/>
        <result property="parent_id" column="parent_id"/>
        <result property="order_num" column="order_num"/>
        <result property="create_by" column="create_by"/>
        <result property="create_time" column="create_time"/>
        <result property="last_update_by" column="last_update_by"/>
        <result property="last_update_time" column="last_update_time"/>
        <result property="del_flag" column="del_flag"/>
    </resultMap>

    <sql id="Base_Column_List" >
		d.id,d.id as value,d.name as label,d.name,d.parent_id,d.order_num,d.create_by,d.create_time,d.last_update_by,d.last_update_time,d.del_flag
    </sql>

    <!-- 查询顶级部门列表 -->
    <select id="findAllTop" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept d where d.parent_id is null
    </select>

    <!-- 查询子部门列表 -->
    <select id="findAllSub" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept d where d.parent_id is not null
    </select>

    <!-- 添加部门 -->
    <insert id="add">
    	insert into sys_dept (`id`, `name`, `parent_id`, `order_num`, `create_by`, `create_time`, `last_update_by`, `last_update_time`, `del_flag`)
    	values (findNextFormatSeqVal('U','s_sys_dept_id'), #{entity.name}, #{entity.parent_id}, #{entity.order_num}, #{entity.create_by},
    	#{entity.create_time}, #{entity.create_by}, #{entity.create_time}, 0)
    </insert>

    <!-- 查询部门 -->
    <select id="findById" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept d where d.id = #{id}
    </select>

    <!-- 查询部门 -->
    <select id="findByIds" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_dept d where d.id in
        <foreach item="id" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 查询部门 -->
    <select id="findByName" resultMap="CommonResultMap">
       select
       	   <include refid="Base_Column_List" />
       from sys_dept d where d.name = #{name}
    </select>

    <!-- 删除部门 -->
    <delete id="deleteByIds">
        delete from sys_dept d where d.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 更新部门 -->
    <update id="updateById">
        update sys_dept
        <trim prefix="set" suffixOverrides=",">
            <if test="entity.name != null">`name` = #{entity.name},</if>
            <if test="entity.parent_id != null">`parent_id` = #{entity.parent_id},</if>
            <if test="entity.order_num != null">`order_num` = #{entity.order_num},</if>
            <if test="entity.create_by != null">`create_by` = #{entity.create_by},</if>
            <if test="entity.create_time != null">`create_time` = #{entity.create_time},</if>
            <if test="entity.last_update_by != null">`last_update_by` = #{entity.last_update_by},</if>
            <if test="entity.last_update_time != null">`last_update_time` = #{entity.last_update_time},</if>
            <if test="entity.del_flag != null">`del_flag` = #{entity.del_flag},</if>
        </trim>
        where `id` = #{entity.id}
    </update>
    
</mapper>