<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vienna.jaray.mapper.SysMenuMapper">
	
	<sql id="Base_Column_List" >
        m.id,m.name,m.parent_id,m.url,m.perms,m.type,m.icon,m.order_num,m.create_by,
		m.create_time,m.last_update_by,m.last_update_time,m.del_flag
    </sql>
	
	<!-- 菜单列表初始化查询 -->
    <select id="findFirstLevelMenu" resultType="sysMenuEntity">
       select 
       	   <include refid="Base_Column_List" />
       from sys_menu m where m.parent_id = '0'
    </select>
    
    <!-- 菜单列表初始化查询 -->
    <select id="findNextSubSetMenu" resultType="sysMenuEntity">
       select 
       	   <include refid="Base_Column_List" />
       from sys_menu m where m.parent_id = #{parentId} and m.type != 2
    </select>
    
</mapper>