<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vienna.jaray.mapper.SysMenuMapper">
	
	<sql id="Base_Column_List" >
        m.id,m.id as value,m.name,m.name as label,m.parent_id,m.url,m.perm,m.type,m.icon,m.order_num,m.create_by,
		m.create_time,m.last_update_by,m.last_update_time,m.del_flag
    </sql>

    <!-- 查询顶级目录列表 -->
    <select id="findAllTopDir" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.parent_id is null
    </select>

    <!-- 查询子目录列表 -->
    <select id="findAllSubDir" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.parent_id is not null and type = 0
    </select>

    <!-- 查询子菜单列表 -->
    <select id="findAllMenu" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where type = 1
    </select>

    <!-- 查询菜单列表 -->
    <select id="findAll" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where type = 0
        union all
        select
        <include refid="Base_Column_List" />
        from sys_menu m where type = 1
    </select>

    <!-- 查询菜单按钮列表 -->
    <select id="findBtnAll" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.type = 2
    </select>

    <!-- 添加菜单 -->
    <insert id="add">
        insert into sys_menu (`id`, `name`, `parent_id`, `url`, `type`, `icon`, `order_num`, `create_by`, `create_time`, `last_update_by`, `last_update_time`, `del_flag`)
    	values (findNextFormatSeqVal('M','s_sys_menu_id'), #{entity.name}, #{entity.parent_id}, #{entity.url}, #{entity.type}, #{entity.icon}, #{entity.order_num},
    	#{entity.create_by}, #{entity.create_time}, #{entity.last_update_by}, #{entity.last_update_time}, #{entity.del_flag})
    </insert>

    <!-- 删除菜单 -->
    <delete id="deleteByIds">
        delete from sys_menu m where m.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 更新菜单 -->
    <update id="updateById">
        update sys_menu
        <trim prefix="set" suffixOverrides=",">
            <if test="entity.name != null">`name` = #{entity.name},</if>
            <if test="entity.parent_id != null">`parent_id` = #{entity.parent_id},</if>
            <if test="entity.url != null">`url` = #{entity.url},</if>
            <if test="entity.type != null">`type` = #{entity.type},</if>
            <if test="entity.icon != null">`icon` = #{entity.icon},</if>
            <if test="entity.order_num != null">`order_num` = #{entity.order_num},</if>
            <if test="entity.create_by != null">`create_by` = #{entity.create_by},</if>
            <if test="entity.create_time != null">`create_time` = #{entity.create_time},</if>
            <if test="entity.last_update_by != null">`last_update_by` = #{entity.last_update_by},</if>
            <if test="entity.last_update_time != null">`last_update_time` = #{entity.last_update_time},</if>
            <if test="entity.del_flag != null">`del_flag` = #{entity.del_flag},</if>
        </trim>
        where `id` = #{entity.id}
    </update>

    <!-- 查询菜单 -->
    <select id="findById" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.id = #{id}
    </select>

    <!-- 查询菜单 -->
    <select id="findByIds" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 查询无权限菜单列表 -->
    <select id="findNoPermByIds" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.id not in
        <foreach collection="menu_perms" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询菜单权限列表 -->
    <select id="findPermByIds" resultType="sysMenu">
        select
        <include refid="Base_Column_List" />
        from sys_menu m where m.id in
        <foreach collection="menu_perms" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>