<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vienna.jaray.mapper.SysUserMapper">

    <resultMap id="CommonResultMap" type="sysUserEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="menu_perm" column="menu_perm"/>
        <result property="email" column="email"/>
        <result property="mobile" column="mobile"/>
        <result property="status" column="status"/>
        <result property="dept_id" column="dept_id"/>
        <result property="create_by" column="create_by"/>
        <result property="create_time" column="create_time"/>
        <result property="last_update_by" column="last_update_by"/>
        <result property="last_update_time" column="last_update_time"/>
        <result property="del_flag" column="del_flag"/>
    </resultMap>
	
	<sql id="Base_Column_List" >
		u.id,u.name,u.password,u.menu_perm,u.email,u.mobile,u.status,u.dept_id,
        u.create_by,u.create_time,u.last_update_by,u.last_update_time,u.del_flag
    </sql>

    <!-- 查询用户列表 -->
    <select id="findAll" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user u
    </select>

    <!-- 添加用户 -->
    <insert id="add">
    	insert into sys_user (`id`, `name`, `password`, `email`, `mobile`, `status`, `dept_id`, `create_by`, `create_time`, `del_flag`)
    	values (findNextFormatSeqVal('U','s_sys_user_id'), #{entity.name}, #{entity.password}, #{entity.email},
    	 #{entity.mobile}, #{entity.status}, #{entity.dept_id}, #{entity.create_by}, #{entity.create_time}, 0)
    </insert>

    <!-- 查询用户 -->
    <select id="findById" resultMap="CommonResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_user u where u.id = #{id}
    </select>

    <!-- 查询用户 -->
    <select id="findByName" resultMap="CommonResultMap">
       select 
       	   <include refid="Base_Column_List" />
       from sys_user u where u.name = #{name}
    </select>

    <!-- 删除用户 -->
    <delete id="deleteByIds">
        delete from sys_user u where u.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 更新用户 -->
    <update id="updateById">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <if test="entity.name != null">`name` = #{entity.name},</if>
            <if test="entity.password != null">`password` = #{entity.password},</if>
            <if test="entity.menu_perm != null">`menu_perm` = #{entity.menu_perm},</if>
            <if test="entity.email != null">`email` = #{entity.email},</if>
            <if test="entity.mobile != null">`mobile` = #{entity.mobile},</if>
            <if test="entity.status != null">`status` = #{entity.status},</if>
            <if test="entity.dept_id != null">`dept_id` = #{entity.dept_id},</if>
            <if test="entity.create_by != null">`create_by` = #{entity.create_by},</if>
            <if test="entity.create_time != null">`create_time` = #{entity.create_time},</if>
            <if test="entity.last_update_by != null">`last_update_by` = #{entity.last_update_by},</if>
            <if test="entity.last_update_time != null">`last_update_time` = #{entity.last_update_time},</if>
            <if test="entity.del_flag != null">`del_flag` = #{entity.del_flag},</if>
        </trim>
        where `id` = #{entity.id} and `name` != 'admin'
    </update>
    
</mapper>